body {
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5
  color: black;
  background-color: white;
}

div.colorRectangle {
  position: fixed;
  border: 1px solid black;
  text-align: right;
  color: white;
  background-color: blue;
  font-size: 1vw;
}

div.labels {
  position:fixed;
  right:25%;
  width:10%;
}

form.form1 {
  background-color: rgb(0,0,255);
}

input.input1 {
  position:fixed;
  right:8%;
  width:7%;
}

div.upArrow {
  font-family:Verdana,sans-serif;
  width: 3%;
  right:5%;
  height: 17px;
  position: fixed;
  border: 1px solid black;
  text-align: center;
  color: white;
  background-color: blue;
  font-size: 15px;
}

div.downArrow {
  font-family:Verdana,sans-serif;
  width: 3%;
  right:15%;
  height: 17px;
  position: fixed;
  border: 1px solid black;
  text-align: center;
  color: white;
  background-color: red;
  font-size: 15px;
}

div.detail {
  border: 1px solid black;
}
